


table,
th {
    border: 1px solid #d8caca;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 0;
    /* width: 100%; */
}

tr:nth-child(odd) {
    background-color: rgb(163, 203, 246);
    /* color: blue; */
}


/* th {
    background-color: black;
    color: white;
}  */



caption {
    margin-top: 10px;
     caption-side: bottom;
     font-weight: bold;
     }
