@media  screen and (min-width: 640px) {
    header {
        background-color: rgb(14, 89, 133);
        color: white;
    }

    nav  {
        width: 100%;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        background-color: rgb(0, 0, 0);
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
      }

  
    nav a:hover {
        border: 1px solid white;
    }




    
#mapBox {
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin:  0 auto;
}

    
    #middlesesh{
        width: 100%;
        background-color: #f5f5dc;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 4fr 1fr;
        gap: 15px;
    }

    #learning-activities {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #info{
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
    }

    .card {
        border-style: outset;
        /* padding-left: 10px; */
        border-radius: 10px;
        /* text-align: left; */
    }
    

  
}
